@import "tailwindcss";

:root {
  --font-main: var(--font-vazir), var(--font-iranSans-local), sans-serif;
}

body {
  font-family: var(--font-main);
  @apply bg-[#EEF1F9]  text-default-700;
}

.dark body {
  @apply bg-background text-default-500;
}

/* colors */
@theme {
  --color-background: hsl(0 0% 100%);
  --color-foreground: hsl(222.2 84% 4.9%);

  --color-card: hsl(0 0% 100%);
  --color-card-foreground: hsl(222.2 84% 4.9%);

  --color-border: hsl(220 13% 91%);
  --color-input: hsl(220 13% 91%);

  --color-accent: 214.3 31.8% 91.4%;
  --color-accent-foreground: 222.2 47.4% 11.2%;

  --color-primary: hsl(250, 92%, 70%); /* رنگ اصلی */
  --color-primary-foreground: hsl(240, 100%, 98%); /* پیش‌زمینه رنگ اصلی */

  --color-secondary: hsl(214.3, 31.8%, 91.4%); /* رنگ ثانویه */
  --color-secondary-foreground: hsl(222.2, 47.4%, 11.2%);

  --color-destructive: hsl(0, 84.2%, 60.2%); /* رنگ تخریبی */
  --color-destructive-foreground: hsl(0 85.7% 97.3); /* پیش‌زمینه رنگ تخریبی */

  --color-success: hsl(142.1 70.6% 45.3%); /* رنگ موفقیت */
  --color-success-foreground: hsl(138.5 76.5% 96.7%); /* پیش‌زمینه رنگ موفقیت */

  --color-info: hsl(188.7 94.5% 42.7%); /* رنگ اطلاعات */
  --color-info-foreground: hsl(183.2 100% 96.3%); /* پیش‌زمینه رنگ اطلاعات */

  --color-warning: hsl(24.6 95% 53.1%); /* رنگ هشدار */
  --color-warning-foreground: hsl(33.3 100% 96.5%); /* پیش‌زمینه رنگ هشدار */

  --color-dark: hsl(240, 5%, 20%); /* رنگ تاریک */

  --color-muted: hsl(220 14.3% 95.9%); /* رنگ محو */
  --color-muted-foreground: hsl(215.4 16.3% 46.9%); /* پیش‌زمینه رنگ محو */

  --color-default-50: hsl(210 40% 98%);
  --color-default-100: hsl(210 40% 96.1%);
  --color-default-200: hsl(214.3 31.8% 91.4%);
  --color-default-300: hsl(212.7 26.8% 83.9%);
  --color-default-400: hsl(215 20.2% 65.1%);
  --color-default-500: hsl(215.4 16.3% 46.9%);
  --color-default-600: hsl(215.3 19.3% 34.5%);
  --color-default-700: hsl(215.3 25% 26.7%);
  --color-default-800: hsl(217.2 32.6% 17.5%);
  --color-default-900: hsl(222.2 47.4% 11.2%);
  --color-default-950: hsl(222.2 84% 4.9%);

  --color-border: hsl(214.3 31.8% 91.4%);
}

.container {
  @apply px-4 py-6 overflow-hidden bg-card  shadow rounded-xl;
}

.dark {
  --color-background: hsl(222.2 47.4% 11.2%);
  --color-foreground: hsl(210 40% 98%);

  --color-muted: hsl(215 27.9% 16.9%);
  --color-muted-foreground: hsl(217.9 10.6% 64.9%);

  --color-card: hsl(215 27.9% 16.9%);
  --color-card-foreground: hsl(210 40% 98%);

  --color-border: hsl(215.3 25% 26.7%);
  --color-input: hsl(215 27.9% 16.9%);

  --color-primary: hsl(254 86% 58%);

  --color-secondary: hsl(215.3 25% 26.7%);
  --color-secondary-foreground: hsl(210 40% 98%);

  --color-accent: hsl(215 27.9% 16.9%);
  --color-accent-foreground: hsl(210 40% 98%);

  --color-destructive: hsl(0 84.2% 60.2%);
  --color-destructive-foreground: hsl(0 85.7% 97.3);

  --color-success: hsl(142.1 70.6% 45.3%);
  --color-success-foreground: hsl(138.5 76.5% 96.7%);

  --color-info: hsl(188.7 94.5% 42.7%);
  --color-info-foreground: hsl(183.2 100% 96.3%);

  --color-warning: hsl(24.6 95% 53.1%);
  --color-warning-foreground: hsl(33.3 100% 96.5%);

  --color-default-950: hsl(210 40% 98%);
  --color-default-900: hsl(210 40% 96.1%);
  --color-default-800: hsl(214.3 31.8% 91.4%);
  --color-default-700: hsl(212.7 26.8% 83.9%);
  --color-default-600: hsl(215 20.2% 65.1%);
  --color-default-500: hsl(215.4 16.3% 46.9%);
  --color-default-300: hsl(215.3 19.3% 34.5%);
  --color-default-200: hsl(215.3 25% 26.7%);
  --color-default-100: hsl(217.2 32.6% 17.5%);
  --color-default-50: hsl(222.2 47.4% 11.2%);

  --color-border: hsl(215.3 25% 26.7%);
}
